$container-width: 100%;

@function getColumnWidth($width, $columns, $margin) {
   @return ($width / columns) - ($margin * 2);
}

.container {
   width: $container-width;
}

.column {
   background: #1abc9c;
   height: 200px;
   display: block;
   float: left;
   width: getColumnWidth(20%, 8, 15%);
}

.col-4 {
   width: $container-width / 4;
}
.a {
   color: red;
}
